<form class="task_details" data-id="<%= task.escape('id') %>">
  <label for="task_title">
    <input type="text" name="task[title]" id="task_title" value="<%= task.escape('title') %>"
        placeholder="Title" autocomplete="off">
  </label>
  
  <label for="task_body">
    <textarea name="task[body]" id="task_body"><%= task.escape('body') %></textarea>
  </label>

  <button type="submit" class="back">Back</button>
  <button type="submit" class="delete" data-id="<%= task.escape('id') %>">Delete</button>
</form>
