<div id="new_task">
  <h2>
    <a href="#/tasks/new">New Task</a>
  </h2>
</div>

<ul>
  <% tasks.each(function (task) { %>
    <a href="#/tasks/<%= task.escape("id") %>">
      <h2>
        <li class="task">
        <% if (task.escape("title") == "" ) { %>
          <%= "Untitled" %>
        <% } else { %>
          <%= task.escape("title")%>
        <% } %>
        </li>
      </h2>
    </a>
  <% }); %>
</ul>