<a href="#/tasks/new">New Task</a>

<ul>
  <% tasks.each(function (task) { %>
    <a href="#/tasks/<%= task.escape("id") %>">
      <li class="task">
      <% if (task.escape("title") == "" ) { %>
        <%= "Untitled" %>
      <% } else { %>
        <%= task.escape("title")%>
      <% } %>
      </li>
    </a>
  <% }); %>
</ul>