
<h2>
  <a href="#/tasks/new">
    <div id="new_task">New Task</div>
  </a>
</h2>

<ul>
  <% tasks.each(function (task) { %>
    <a href="#/tasks/<%= task.escape("id") %>">
      <h2>
        <li class="task">
        <% if (task.escape("title") == "" ) { %>
          <%= "Untitled" %>
        <% } else { %>
          <%= task.escape("title")%>
        <% } %>
        </li>
      </h2>
    </a>
  <% }); %>
</ul>