<form id="new_task_form">
  <label for="task_title">
    <input name="task[title]" id="task_title" maxlength="30" placeholder="Title" autocomplete="off">
  </label>
  <label for="task_body">
    <textarea name="task[body]" id="task_body"></textarea>
  </label>

  <button class="submit">Submit</button>
  <button class="cancel">Cancel</button>
</form>