<form>
  <h1>New Task</h1>
  <label for="task_title">Title</label>
  <input name="task[title]" id="task_title">
  <input name="task[body]" id="task_title">

  <button class="submit">Submit</button>
  <button class="cancel">Cancel</button>
</form>