/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, h2, div, img, label, form, button, ul, ol, li, a, p, select, textarea, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

body, textarea {
  font-family: monospace;
}

div {
  display: block;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-weight: bold;
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

body {
  font-family: sans-serif;
  font-size: 12px;
}

ul, ol {
  list-style-type: none;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

div {
  display: block;
}

select {
  border: 1px solid black;
}

input, textarea {
  width: 100%;
  border: 0;
  outline: none;
  resize: none;
}

button {
    outline: none;
}