// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body {
  min-width: 1020px;
}

.task {
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  height: 20px;
  padding: 10px 5px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: #3B5998;

}

.task:active {
  background: #3366FF;
}

#new_task {
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  height: 20px;
  width: 150px;
  padding: 10px 5px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
  color: white;
  background: #3B5998;
}

#new_task:active {
  background: #3366FF;
}

#sidebar{
  float: left;
  padding: 30px;
  width: 400px;
  height: 100px;
}

#content {
  float: left;
  width: 400px;
  padding-right: 30px;
  padding-top: 30px;
}