// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body {
  min-width: 1020px;
}

.task {
  border: 1px solid black;
  height: 20px;
  padding: 10px 5px;
}

#sidebar{
  float: left;
  padding: 30px;
  width: 400px;
  height: 100px;
}

#content {
  float: left;
  width: 400px;
  padding-right: 30px;
  padding-top: 30px;
}